{% extends 'base.html' %}

{% block title %}
    <title>Book detail</title>
{% endblock %}

{% block content %}
    <div class="flex flex-row items-center justify-center rounded-lg hover:bg-black/70 transition cursor-pointer backdrop-blur-lg bg-black/30 gap-6 text-white font-bold p-10 flex flex-col  max-w-80">
        <span class="block text-2xl"> Here is more detail about the book:</span>

        <span class="text-center text-white block w-full text-xl">Title:
            <strong class="block text-xl text-center text-yellow-500">{{ book.title }}</strong>
        </span>

        {% if book.author %}
            <span class="block w-full text-center text-white text-lg">Main Author:
                <a href="{% url 'author_detail' book.author_id %}" class="mt-0"><div class="flex flex-row items-center content-center inline-block rounded-r-lg bg-indigo-500 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:bg-indigo-600 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-indigo-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:bg-indigo-700 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0">
                    {% if book.author.img_field %}
                        <img class="w-10 h-10 rounded-l-lg" src="{{ book.author.img_field.url }}" style="max-height:300px" alt="could not load the pic">
                    {% endif %}
                    <span class="block w-full text-center text-yellow-500 text-lg">{{ book.author.first_name }} {{ book.author.last_name }}</span>
                    </div>
                </a>
            </span>
        {% endif %}

        <span class="text-center text-white block w-full text-xl">isbn:
            <span class="block w-full text-center text-yellow-500 text-lg">{{ book.isbn }}</span>
        </span>

        <span class="text-center text-white block w-full text-xl">date published: <br>
            <span class="block w-full text-center text-yellow-500 text-lg"> {{ book.date_published }}</span>
        </span>

        <span class="text-center text-white block w-full text-xl">last edit: <br>
            <span class="block w-full text-center text-yellow-500 text-lg">{{ book.date_edited }}</span>
        </span>
    </div>
{% endblock %}










